pkgbase = python-pyproject-hooks
	pkgdesc = A low-level library for calling build-backends in pyproject.toml-based project
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/pypa/pyproject-hooks
	arch = any
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-setuptools
	checkdepends = python-testpath
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-flit-core
	makedepends = python-wheel
	depends = python
	source = python-pyproject-hooks-1.1.0.tar.gz::https://github.com/pypa/pyproject-hooks/archive/refs/tags/v1.1.0.tar.gz
	sha512sums = 256028d13adbe35126a63431a2a49e0c48adddce5ffc3ff2eebad368eee7ce52591ecfd8a8526876de20bc59dfc87156533d6a97b55538a739873e60f9509eff
	b2sums = e6b376188655a5bc188567f412c22f8224209612c4fb0332f8c0c441180c18589139549139957834b3359bf3ced961e22f97e2449edc354047afaa6d2eff58d7

pkgname = python-pyproject-hooks
